/* Keyframes for drawer opening */
@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    max-height: 30rem; /* Adjust this based on the content or set a practical maximum */
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframes for drawer closing */
@keyframes slideUp {
  from {
    max-height: 30rem; /* Adjust this based on the content or set a practical maximum */
    opacity: 1;
    transform: translateY(0);
  }
  to {
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);
  }
}
