/* Light Theme */
:root {
  --color-primary: #ff7f50; /* Coral Orange */
  --color-secondary: #4682b4; /* Steel Blue */
  --color-accent: #ffd700; /* Golden Yellow */
  --color-accent-two: #adff2f; /* Green Yellow */
  --color-minor: #fafad2; /* Light Goldenrod */
  --color-minor-two: #f5deb3; /* Wheat Beige */
  --color-background: #fff8dc; /* Cornsilk White */
  --color-background-two: #f0f0f0; /* Light Gray */
}

/* Dark Theme */
[data-theme='dark'] {
  --color-primary: #ff4500; /* Orange Red */
  --color-secondary: #1e90ff; /* Dodger Blue */
  --color-accent: #ffd700; /* Golden Yellow */
  --color-accent-two: #32cd32; /* Lime Green */
  --color-minor: #4b0082; /* Indigo */
  --color-minor-two: #2e8b57; /* Sea Green */
  --color-background: #242424; /* Midnight Blue */
}

[data-theme='scarlet'] {
  --color-primary: #b01041; /* Orange Red */
  --color-secondary: #bd3658; /* Dodger Blue */
  --color-accent: #ca5b6f; /* Golden Yellow */
  --color-accent-two: #d78186; /* Lime Green */
  --color-minor: #e3a69d; /* Indigo */
  --color-minor-two: #f0ccb4; /* Sea Green */
  --color-background: #fdf1cb; /* Midnight Blue */
  --color-background-two: #f0f0f0; /* Light Gray */
}
