.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.input-wrapper input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
  background: transparent;
  color: #fff;
}

.input-wrapper label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  background-color: #242424; /* Matches background */
  padding: 2px 5px;
  font-size: 1rem;
  color: #fff;
  transition: all 0.2s ease;
  pointer-events: none;
  border-radius: 1rem;
}

.input-wrapper input:focus {
  border-color: #007bff;
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
  top: -0px;
  font-size: 0.85rem;
  color: #fff;
}
