.floating-select {
  position: relative;
  margin: 1rem 0;
  width: 100%;
}

.floating-label {
  position: absolute;
  top: 0rem;
  left: 12px;
  transform: translateY(-50%);
  background-color: #242424;
  color: #fff;
  font-size: 0.85rem;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  padding: 2px 5px;
}

/* .floating-select.active .floating-label,
.floating-dropdown:focus ~ .floating-label {
  top: -0.5rem;
  font-size: 0.75rem;
  color: #333;
} */

.floating-dropdown {
  width: 100%;
  padding: 0.75rem 0.5rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background: #242424;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.floating-dropdown:focus {
  border-color: #007bff;
}

.floating-dropdown option {
  color: #333;
}
