.collapsible-header {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: green;
}

.collapsible-header:hover {
  opacity: 0.85;
}

.collapsible-content[data-collapsed='true'] {
  display: none;
}

section[data-collapsed='true'] .collapsible-content {
  display: none;
}

/* Example CSS to draw the horizontal line and collapsible caret */
section[data-type='collapsible-header'] {
  border-bottom: 1px solid var(--color-border);
  margin: 0 0 0.25rem;
}
section[data-type='collapsible-header'][data-collapsed='true'] > * + * {
  display: none; /* hide body when collapsed */
}
